################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project-Elsalakan/v17/Browse.VC.opendb
/.vs/Project-Elsalakan/v17/Browse.VC.db-wal
/.vs/Project-Elsalakan/v17/Browse.VC.db-shm
/.vs/Project-Elsalakan/FileContentIndex/0f80fd73-bdf6-489c-bc48-2e81bd21d078.vsidx
/.vs/Project-Elsalakan/FileContentIndex/991ac884-dda6-4017-af87-ed77336a71d9.vsidx
/.vs/Project-Elsalakan/FileContentIndex/read.lock
/.vs/Project-Elsalakan/v17/.suo
/.vs/Project-Elsalakan/v17/.wsuo
/.vs/Project-Elsalakan/v17/Browse.VC.db
/.vs/Project-Elsalakan/v17/DocumentLayout.json
/.vs/Project-Elsalakan/v17/ipch/AutoPCH/ae921327466b97e9/PROJECT-ELSALAKAN.ipch
/.vs/Project-Elsalakan/FileContentIndex/30fc0c50-2f22-46a2-a06a-6ab2be9ff79d.vsidx
/.vs/Project-Elsalakan/FileContentIndex/0f80fd73-bdf6-489c-bc48-2e81bd21d078.vsidx
/.vs/Project-Elsalakan/FileContentIndex/read.lock
/.vs/Project-Elsalakan/v17/.suo
/.vs/Project-Elsalakan/v17/Browse.VC.db
*.ipch
*.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Project-Elsalakan/v17/Solution.VC.db
/x64/Release/Project-.22afa1e2.tlog
/x64/Release
/Project-.22afa1e2/x64/Release/Project-.22afa1e2.tlog
/Project-.22afa1e2/x64/Release
